body {
  background-color: black;
  /*background: rgb(255,193,0);
  background: linear-gradient(0deg, rgba(255,193,0,1) 22%, rgba(0,0,0,1) 64%);
background-repeat: no-repeat;*/
} 
.card {
  background-color: rgb(83, 81, 81)
}
.navbar {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 16%, rgba(255,193,0,1) 45%);} 
/* link color. it does not change active link color.*/
.nav-link {
  color: rgb(255, 255, 255); 
}
/* Style the active link in the navbar */
.navbar a.active {
  color: #fff; /* Replace #fff with your preferred active link color */
  text-decoration: underline;
}
.about_txt{
  color:white
}