body {
  background-color: black;
background-repeat: no-repeat;
} 
 .card {
  background-color: rgb(83, 81, 81)
} 
.card-title{
  color:white
}
.card-text{
  color:white
}
.navbar {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 16%, rgba(255,193,0,1) 45%);} 
/* link color. it does not change active link color.*/
.nav-link {
  color: rgb(255, 255, 255); 
}
/* Style the active link in the navbar */
.navbar a.active {
  color: #fff; /* Replace #fff with your preferred active link color */
  text-decoration: underline;
}
.about_txt{
  color:white
}
.modal-header{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 16%, rgba(255,193,0,1) 45%);
} 

.modal-footer {
  background: rgb(0,0,0);
}

.modal-title{
  color:white
}
.modal-body{
  color:rgb(255, 255, 255)

}
.modal-body {
  background-color: rgb(83, 81, 81)
}
.person {
  display: flex;
  max-width: 80em;
  margin: 3em auto;
  align-items: stretch;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 38%, rgba(255,193,0,1) 83%);
color: white;
}

.person-header {
 padding: 2rem; 
}

.person-bild {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.person-introduction {
  padding-left: 2rem;
  background: rgb(83, 81, 81);
  color: white;
  display: flex;
  align-items: center;
}
/*.accordion {

  background-color:rgb(83, 81, 81);
}
.accordion-item {
  background-color: rgb(83, 81, 81);
}
.accordion-header {
  background-color: #ff0000;
}
.accordion-flush{
  background-color: rgb(83, 81, 81);
}
*/
.help1{
  background-color: rgb(83, 81, 81);
}
.help2{
  
}
.foot{
  color:white;
  }
.imgcenter{
  text-align: center;

}